@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* Dark theme as default for now */
    :root{
        --color-primary-text: theme(colors.white);
        --color-primary-text-inverted:theme(colors.black);
        --color-secondary-text: oklch(70.4% 0.04 256.788);
        --color-secondary-text-hover: oklch(86.9% 0.022 252.894);
        --color-hover: oklch(55.4% 0.046 257.417);
        --color-btn: oklch(55.4% 0.046 257.417);
        --color-btn-text: oklch(86.9% 0.022 252.894);
        --color-btn-subtle:oklch(37.2% 0.044 257.287);
        --color-btn-hover: oklch(37.2% 0.044 257.287);
        --color-sidebar: oklch(20.8% 0.042 265.755);
        --color-feed-btn: oklch(20.8% 0.042 265.755);
        --color-feedtype-btn-hover: oklch(70.4% 0.04 256.788);
        --color-fc-bg: oklch(27.9% 0.041 260.031);
        --color-post-bg: oklch(20.8% 0.042 265.755);
        --color-post-msg: oklch(44.6% 0.043 257.281);
        --color-post-focus-bg: oklch(12.9% 0.042 264.695);
        --color-border: oklch(37.2% 0.044 257.287);
        --color-border-lighter: oklch(44.6% 0.043 257.281);
        --color-banner: oklch(20.8% 0.042 265.755);
        --color-user-focus-bg: oklch(27.9% 0.041 260.031);
        --color-disabled: oklch(55.1% 0.027 264.364);
        --color-disabled-bg: oklch(37.2% 0.044 257.287);
        --color-toggle-button: oklch(20.8% 0.042 265.755);
        --color-toggle-gutter: oklch(12.9% 0.042 264.695);
        --color-checkbox-hover: oklch(70.4% 0.04 256.788);
        --color-feed-highlight: oklch(82.8% 0.189 84.429);
        --color-viewport-background: oklch(27.9% 0.041 260.031);
        --color-message-dismiss: oklch(70.7% 0.165 254.624);
        --color-login-highlight: oklch(79.2% 0.209 151.711);
        --color-feedtype-btn-selected: oklch(86.9% 0.022 252.894);
        --color-feedtype-btn-focus-highlight: oklch(70.7% 0.165 254.624);
        --color-searchbar-btn: oklch(70.7% 0.165 254.624);
        --color-searchbar-btn-hover: oklch(80.9% 0.105 251.813);
        --color-searchbar-bg: oklch(20.8% 0.042 265.755);
        --color-searchbar-border: oklch(55.1% 0.027 264.364);
        --color-searchbar-border-disabled: oklch(37.3% 0.034 259.733);
        --color-searchbar-focus-highlight: oklch(54.6% 0.245 262.881);
        --color-searchbar-result-hover: oklch(37.3% 0.034 259.733);
        --color-searchbar-handle: oklch(68.5% 0.169 237.323);
        --color-login-btn: oklch(48.8% 0.243 264.376);
        --color-login-btn-hover: oklch(62.3% 0.214 259.815);
        --color-savemodal-bg: oklch(37.2% 0.044 257.287);
        --color-savemodal-ext-bg: oklch(27.9% 0.041 260.031);
        --color-embed-hover-bg:oklch(27.9% 0.041 260.031);
        --color-embed-hover-border:oklch(55.4% 0.046 257.417);
        --color-scrollbar-track:theme(colors.slate.700);
        --color-scrollbar-thumb:theme(colors.slate.500);
        --color-scrollbar-thumb-hover:theme(colors.slate.400);
        --color-navbar-btn:theme(colors.slate.500);
        --color-navbar-btn-hover:theme(colors.slate.300);
        --color-navbar-btn-text:theme(colors.slate.900);
        --color-feedcolumn-settings-bg:theme(colors.slate.950);
        --color-feedcolumn-settings-btn-hover:theme(colors.gray.400);
        --color-feedcolumn-settings-btn-selected:theme(colors.slate.800);
        --color-feedcolumn-settings-btn-selected-hover:theme(colors.slate.600);
        --color-userfocusmodal-banner-bg:theme(colors.slate.400);
        --color-postfocusmodal-details-shadow:theme(colors.slate.800);
        --color-logo-fill:theme(colors.white);
        --color-about-page-banner:theme(colors.slate.900);
        --color-spoiler-blackout-color:theme(colors.slate.700);
        --color-radio-button-selected:theme(colors.blue.500);
        --color-donation-btn-bg:theme(colors.blue.600);
        --color-donation-btn-icon-hover:theme(colors.red.400);
        --color-modern-toggle-btn-toggle-fill:theme(colors.blue.500);
        --color-modern-toggle-btn-border:theme(colors.blue.600);
        --color-modern-toggle-btn-border-hover:theme(colors.blue.500);
        --color-modern-toggle-btn-bg-selected:theme(colors.slate.800);
        --color-checked-btn-bg:theme(colors.slate.700);
        --color-checked-btn-bg-hover:theme(colors.slate.600);
        --color-checked-btn-bg-selected:theme(colors.slate.500);
        --color-checked-btn-checkmark:theme(colors.green.400);
        --color-custom-feed-btn-bg-hover:#2a3a53;
    }
}

.theme-light{
    --color-primary-text: theme(colors.black);
    --color-primary-text-inverted:theme(colors.white);
    --color-secondary-text: oklch(44.6% 0.03 256.802);
    --color-secondary-text-hover: oklch(70.7% 0.022 261.325);
    --color-hover: oklch(55.4% 0.046 257.417);
    --color-btn: oklch(86.9% 0.022 252.894);
    --color-btn-subtle:oklch(92.9% 0.013 255.508);
    --color-btn-text: oklch(44.6% 0.043 257.281);
    --color-btn-hover: oklch(70.4% 0.04 256.788);
    --color-sidebar: oklch(100% 0 0);
    --color-feed-btn: oklch(86.9% 0.022 252.894);
    --color-feedtype-btn-hover: oklch(70.4% 0.04 256.788);
    --color-fc-bg: oklch(100% 0 0);
    --color-post-bg: oklch(86.9% 0.022 252.894);
    --color-post-msg: oklch(86.9% 0.022 252.894);
    --color-post-focus-bg: oklch(100% 0 0);
    --color-border: oklch(37.2% 0.044 257.287);
    --color-border-lighter: oklch(55.4% 0.046 257.417);
    --color-banner: oklch(70.4% 0.04 256.788);
    --color-user-focus-bg: oklch(100% 0 0);
    --color-disabled: oklch(70.7% 0.022 261.325);
    --color-disabled-bg: oklch(87.2% 0.01 258.338);
    --color-toggle-button: oklch(86.9% 0.022 252.894);
    --color-toggle-gutter: oklch(70.7% 0.022 261.325);
    --color-checkbox-hover: oklch(70.4% 0.04 256.788);
    --color-feed-highlight: oklch(82.8% 0.189 84.429);
    --color-viewport-background: oklch(92.9% 0.013 255.508);
    --color-message-dismiss: oklch(62.3% 0.214 259.815);
    --color-login-highlight: oklch(79.2% 0.209 151.711);
    --color-feedtype-btn-selected: oklch(27.9% 0.041 260.031);
    --color-feedtype-btn-focus-highlight: oklch(54.6% 0.245 262.881);
    --color-searchbar-btn: oklch(70.7% 0.165 254.624);
    --color-searchbar-btn-hover: oklch(80.9% 0.105 251.813);
    --color-searchbar-bg: oklch(96.8% 0.007 247.896);
    --color-searchbar-border: oklch(55.1% 0.027 264.364);
    --color-searchbar-border-disabled: oklch(70.7% 0.022 261.325);
    --color-searchbar-focus-highlight: oklch(54.6% 0.245 262.881);
    --color-searchbar-result-hover: oklch(87.2% 0.01 258.338);
    --color-searchbar-handle: oklch(68.5% 0.169 237.323);
    --color-login-btn: oklch(62.3% 0.214 259.815);
    --color-login-btn-hover: oklch(70.7% 0.165 254.624);
    --color-savemodal-bg: oklch(86.9% 0.022 252.894);
    --color-savemodal-ext-bg: oklch(70.4% 0.04 256.788);
    --color-embed-hover-bg:oklch(92.9% 0.013 255.508);
    --color-embed-hover-border:oklch(70.7% 0.165 254.624);
    --color-scrollbar-track:theme(colors.slate.300);
    --color-scrollbar-thumb:theme(colors.slate.500);
    --color-scrollbar-thumb-hover:theme(colors.slate.600);
    --color-navbar-btn:theme(colors.slate.500);
    --color-navbar-btn-hover:theme(colors.slate.600);
    --color-navbar-btn-text:theme(colors.white);
    --color-feedcolumn-settings-bg:theme(colors.slate.300);
    --color-feedcolumn-settings-btn-hover:theme(colors.gray.800);
    --color-feedcolumn-settings-btn-selected:theme(colors.blue.300);
    --color-feedcolumn-settings-btn-selected-hover:theme(colors.blue.200);
    --color-userfocusmodal-banner-bg:theme(colors.slate.600);
    --color-postfocusmodal-details-shadow:theme(colors.black);
    --color-logo-fill:theme(colors.slate.600);
    --color-about-page-banner:theme(colors.slate.400);
    --color-spoiler-blackout-color:theme(colors.slate.800);
    --color-radio-button-selected:theme(colors.blue.600);
    --color-donation-btn-bg:theme(colors.blue.400);
    --color-donation-btn-icon-hover:theme(colors.red.500);
    --color-modern-toggle-btn-toggle-fill:theme(colors.blue.600);
    --color-modern-toggle-btn-border:theme(colors.blue.500);
    --color-modern-toggle-btn-border-hover:theme(colors.blue.500);
    --color-modern-toggle-btn-bg:theme(colors.blue.100);
    --color-modern-toggle-btn-bg-selected:theme(colors.blue.200);
    --color-checked-btn-bg:theme(colors.slate.200);
    --color-checked-btn-bg-hover:theme(colors.slate.300);
    --color-checked-btn-bg-selected:theme(colors.slate.400);
    --color-checked-btn-checkmark:theme(colors.green.400);
    --color-custom-feed-btn-bg-hover:theme(colors.slate.200);
}